{% extends 'frontend/master/master.html' %}

{% block content %}
    <main class="main">
        <div class="intro-section pt-3 pb-3 mb-2">
            <div class="container mt-5 ">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Register page</h1>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-success">Register</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </main>



{% endblock %}